		@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
		body {
			margin: 0;
			padding: 0;
			font-family: Arimo, sans-serif;
			background-color: #f2f2f2;
		}

		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		nav {
			background-color: #444;
			color: #fff;
			padding: 10px;
		}

		nav ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: space-between;
		}

		nav li {
			margin: 0 10px;
		}

		aside {
			background-color: #ddd;
			padding: 10px;
			flex: 1;
		}

		article {
			background-color: #fff;
			padding: 10px;
			flex: 3;
		}

		footer {
			background-color: #333;
			color: #fff;
			padding: 10px;
			text-align: center;
		}

        button{
            font-size: medium   ;
            border-radius: 10px;
            background: transparent;
            font-style: unset;
            border-bottom: #fff ;
        }
        a{
            color: #fff;
        }
